.App {

}


.main-header{
  position: fixed;
  overflow: hidden;
  background-color: #5f6caf;
  padding: 20px 10px;
  width: 100%;
  height: 100px;
}

.Logo{
  padding-left: 50px;
}

.Logo img{
  width: 140px;
  height: 50px;
}

.main-menu{
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: #DBDBDB;
  overflow-x: hidden;
  padding-top: 100px;
}

.home{
  z-index: 1;
  position: fixed;
  padding-left: 300px;
  padding-top: 120px;
}